body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-image: linear-gradient(
        159deg,
        rgb(255, 246, 255) 0%,
        rgb(250, 246, 235) 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --red1: #5d001e;
    --red2: #811343;
    --red3: #1B4C6F;
    /* --red3: #264D00; */
    --red3: #609A33;
    /* 609A33 */
    --red4: #e3afbc;
    --red5: #e3e2df;
    /* --red5: #F0F0F0; */
    /* --blue: #1E547B; */
    --blue: #3A80B3;
    ;

    /* 3A80B3 */
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* =====Weather Section ========= */

/* Intro Page */

.todays-numbers {
    color: var(--red3);
}

.form-heading {
    font-size: 1rem;
}

.form-input {
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid transparent; 
    outline: none;
    color: var(--red1);
    transition: border-color 0.5s ease-in-out;
}

.thing:focus {
    border: 2px solid lightblue;
}

.form-button {
    background-color: var(--red1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
    background-color: var(--red3);
}
  

/*===== Weather title ===== */

.weather-icon-box {
    width: 8rem;
}

.icon {
    width: 10rem;
    margin-top: 1rem;
}

.future-forecast-css:hover {
    transform: scale(1.15);
    z-index: 5;
    cursor: pointer;
    background-color: var(--red5);
}

.max-min {
    cursor: pointer;
}

.future-text {
    color: var(--red3);
}

.future-text-date {
    color: var(--red1);
}

/* Intro Page section */

.box2 {
    box-shadow: 0 0 10px var(--red1);
    background-color: var(--red5);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

/*===== Weather section */
.weather-section {
    display: flex;
    padding: 1rem;
}

.weather-title-box {
    height: auto;
}

.weather-title h1 {
    font-size: 1.5rem;
}

.box1 {
    width: 50%;
    margin-right: 1rem;
}

.box2 {
    width: 50%;
}

.weather-box {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
}

.weather-icon-box {
    box-shadow: 0 0 10px var(--red1);
    width: 50%;
    margin: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.weather-img-desc {
    position: relative;
    bottom: 0rem;
}

.todays-weather-data {
    width: 50%;
    margin: 1rem;
    box-shadow: 0 0 10px var(--red1);
    border-radius: 1rem;
}

.date-and-time {
    line-height: 1rem;
    font-size:1.5rem;
    color: var(--blue);
    font-weight: bold;
}

/* =============Future Forecast */
.future-forecast {
    height: 40vh;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.future-forecast-css {
    align-items: center;
    background-color: var(--red5);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--red1);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 1rem;
    line-height: 0.8rem;
    margin-top: 0.68rem;
    padding-top: 1rem;
    flex-grow: 1;
    width: 12rem;
}

.set-city-button {
    color: white;
    background-color: var(--blue);
    box-shadow: 0 0 5px var(--red1);
    border: 1.5px solid var(--red4);
    border-radius: .5rem;
}

.default-city-text {
    color: var(--blue);
}


/* scroll bar style  */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--red4);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.spinner {
    animation: spin 1s infinite linear;
    color: var(--red3);
    font-size: 24px;
}

/* =========Media Queries */
@media (max-width: 280px) {
    .box2 {
        border: 4px solid blue;
        height: auto !important;
    }
}

@media (max-width: 321px) {
    .weather-section {
        flex-direction: column-reverse;
        height: auto;
    }
    .box1 {
        width: 20rem;
        height: 33rem !important;
        /* border: 2px solid blue; */
    }
    .box2 {
        width: 100%;
        height: 50%;
        margin-bottom: 1rem;
    }
    .city-name {
        padding-top: 1rem;
    }
    .intro-page-text-h1 {
        padding-top: 1rem;
    }
    .weather-icon-box {
        height: 8rem !important;
        width: 10rem;
    }
    .weather-img-desc {
        position: relative !important;
        bottom: 1rem !important;
    }
    .weather-icon-box img {
        width: 5rem;
        padding-top: 0.5rem;
    }
    .weather-box {
        height: auto;
        position: relative;
        top: 0rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .form-input {
        width: 10rem;
    }
    .todays-weather-data {
        padding-top: 1rem;
        width: 10rem;
    }
    .future-forecast {
        height: auto;
    }
    .future-forecast-css {
        max-width: 10rem;
        min-width: 10rem;
    }
}

@media (max-width: 394px) {
    .box1 {
        width: 100%;
        height: 35rem;
    }
    .intro-page-text-h1 {
        padding-top: 1rem;
    }
    .box2 {
        padding-top: 1.5rem;
    }
    .weather-title-box {
        padding-top: 0.5rem;
    }
    .city-name {
        padding-top: 0.5rem;
    }
    .todays-weather-data {
        padding-top: 0.5rem;
    }
    .weather-icon-box {
        height: 13rem;
    }
    .future-forecast-css {
        max-width: 10rem;
        min-width: 10rem;
    }
    .icon {
        padding-top: 2rem;
    }
}

@media (max-width: 410px) {
    .box1 {
        width: 100%;
        height: 33rem;
    }
    .intro-page-text-h1 {
        padding-top: 1rem;
    }
    .box2 {
        margin-bottom: 1rem;
    }
    .weather-title-box {
        padding-top: 0.5rem;
    }
    .todays-weather-data {
        padding-top: 0.5rem;
    }
}

@media (max-width: 413px) {
    .box1 {
        width: 100%;
        height: 30rem;

    }
    .intro-page-text-h1 {
        padding-top: 1rem;
    }
    .box2 {
        font-size: 1rem;
    }
    .weather-title-box {
        padding-top: 0.5rem;
    }
    .todays-weather-data {
        padding-top: 0.5rem;
    }
}

@media (max-width: 479px) {
    .weather-section {
        flex-direction: column-reverse;
    }
    .box1 {
        width: 100%;
        height: 20rem;
    }
    .box2 {
        width: 100%;
        height: 50%;
    }
    .intro-page-text-h1 {
        padding-top: 1rem;
    }
    .box2 {
        margin-bottom: 1rem;
    }
    .weather-title-box {
        padding-top: 0.5rem;
    }
    .weather-box {
        height: auto;
    }
    .future-forecast {
        height: auto;
    }
    .future-forecast-css {
        max-width: 10rem;
        min-width: 10rem;
    }
}

@media (max-width: 601px) {
    .weather-section {
        flex-direction: column-reverse;
        width: 100%;
    }
    .box1 {
        height: 20rem;
        width: 100%;
    }
    .box2 {
        height: 50%;
        width: 100%;
    }
    .weather-title-box {
        padding-top: 0.5rem;
    }
    .weather-box,
    .future-forecast {
        height: auto;
    }
    .todays-weather-data {
        padding-top: 1rem;
    }
    .future-forecast-css {
        max-width: 10rem;
        min-width: 10rem;
    }
}

@media (max-width: 767px) {
    .weather-section {
        flex-direction: column-reverse;
        margin-right: 0rem;
    }
    .box1,
    .box2 {
        height: 20rem;
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media (max-width: 911px) {
    .todays-weather-data {
        font-size: 1rem;
    }
}

@media (max-width: 1279px) {
    .box1,
    .box2 {
        height: 20rem;
    }
}

@media (max-width: 1150px) {
    .future-forecast-css {
        max-width: 12rem;
    }
}

@media (max-width: 1282px) {
    .weather-section {
        height: auto;
    }
    .box1, .box2 {
        height:22rem;
    }
    .city-name {
        padding-top: 1rem;
    }
    .intro-page-text-h1 {
        padding-top: 1rem;
    }
}

@media (min-width: 1290px) {
    .box1,
    .box2 {
        min-height: 25rem;
    }
    .todays-weather-data {
        font-size: 1.25rem;
    }
    .date-and-time,
    .weather-img-desc {
        font-size: 1.5rem;
    }
}
