body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#weather-icon {
  /* width: 200px; */
}

/* .todays-weather { 
  color: var(--red2); 
  font-size: 1rem;
  height: 20vh;
} */
/* 
.todays-numbers {
  color: var(--red1);
  font-size: 1rem;
  margin-left: 1rem;
} */

:root {
  --red1: #5D001E;
  --red2: #9A1750;
  --red3: #EE4C7C;
  --red4: #E3AFBC;
  --red5: #E3E2DF;
}

/* =====Weather Section ========= */

.box1 {
  width: 50%;
  margin-right: 1rem;
}

.box2 {
  width: 50%;
}

.top-section-text {
  /* font-size: 1.2rem; */
  /* border:2px solid green; */
}

.weather-title h1 {
  color: green;
  padding-top:1rem;
}









/* Intro Page */
.intro-page {
  box-shadow: 0 0 10px var(--red2);
  background-color: var(--red5);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  height: 100%;
  /* margin-left: -1rem */
}

.intro-page-text-h1 {
  text-decoration: underline;
}

.todays-numbers {
  color: var(--red3);
}

/* Intro page width */



/* Into-page height */


/* @media (max-height:478px) {
  .intro-page-text {
    color: green;
    font-size: .75rem;
    line-height: .5rem;
  }
  .intro-page-text-h1 {
    color: purple;
  }
} */


.form-heading {
  font-size: 1rem;
}

.form-subheading {
  font-size: 1rem;
}

.form-input {
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.form-button {
  background-color: var(--red2);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: var(--red3);
}

.history-row {
  background-color: var(--red1);
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*===== Weather title ===== */
.weather-title {
  box-shadow: 0 0 10px var(--red3);
  background-color: var(--red5);
  position: relative;
  text-align:center;
  border:2px solid green;
  height:100%;
}

.weather-title h1 {
  font-size: 1.5rem;
  /* overflow-y: scroll; */

}
/* Weather title height */


/* Weather Icon Section */

.weather-icon-section {
  box-shadow: 0 0 10px var(--red2); 
  width: 50%; 
  margin: 1rem; 
  margin-top: 1rem;
  border-radius: 1rem;
}

.weather-icon-section img {
  width: 8rem;
}

/* Weather icon height */








/* Today's Weather */

.todays-weather {
  width: 50%;
  margin: 1rem;
  box-shadow: 0 0 10px var(--red2);
  border-radius: 1rem;
}

/* Today's Weather Height */










/* Todays's weather width */


.future-forecast {
  height:40vh;
  display: flex;
  flex-wrap: wrap; /* wrap child elements to new line */
  justify-content: center;
  align-items: center;
}

.future-forecast-css {
  align-items: center;
  background-color: var(--red5);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--red2);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: 1rem; 
  line-height: .8rem;
  margin-top: .68rem;
  padding-top:1rem;
  flex-grow: 1;
}


.future-forecast-css:hover {
  transform: scale(1.3);
  z-index: 5;
  cursor: pointer;
  background-color: var(--red5);
}



.max-min {
  cursor: pointer;
}